body{
    font-family: 'Roboto', sans-serif;
}
.product a img{
    width: 100%;
}
.product{
    border: 1px solid black;
}
.gallery{
    padding: 20px 3px;
}
.desc{
    padding: 15px;
}
.content p{
    padding: 15px;
}